body {
    display: flex;
}

header {
display: flex;
height: 100vh;
color: var(--branco);
background-color: var(--cor-primaria);
padding: 0px 25px 0px 0;
}

.logo {
margin-left: 25px;
}

.logo h1 {
font-size: 2rem;
}

span {
font-weight: 300;
}


.menu-content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0px 10px 0px;
}



.menu a {
text-decoration: none;
color: var(--branco);
border: 1px solid var(--branco);
padding: 5px 15px;
border-radius: 50px;
display: flex;
}

.cadastro-item {
    margin-bottom: 10px;
}


/* BACKGROUND */

body {
background-color: white;
height: 100vh;
width: 100%;
}

.cadastrar-medico {
  margin: 50px;
}

.cadastro-content {
    display: flex;
    flex-direction: column;
}

.pagina {
    display: none;
}

.ativo{
    display: block;
}
