header {
    padding: 1.25rem 0rem 1.25rem 0rem;
    display: flex;
    justify-content: space-around;   
    align-items: center;
}

nav ul {
    display: flex;
    color: var(--cinza-principal);
}

nav ul li{
    font-weight: 500;
    margin: 0.625rem;
    cursor: pointer;
}

nav ul li:hover{
    color: var(--azul-principal);
    transition: color 0.3s ease;
}


