body {
    overflow-y: hidden;
}

.login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/frontend/assets/imagens/login-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content {
    background-color: white;
    padding: 50px;
}

.login div {
    display: flex;
    flex-direction: column;
}

